<nav #nav>
    <div class="header">
        <span class="logo">ATCH</span>
        <button class="btn-menu" (click)="btn_menu_click()">
            ☰
        </button>
    </div>
    <div class="body">
        <a routerLink="/">
            <span>Home</span>
        </a>
        <a routerLink="/entradas">
            <span>Entradas</span>
        </a>
        <a routerLink="/salidas">
            <span>Salidas</span>
        </a>
    </div>
    <div class="footer">
        <a routerLink="/login">
            <span>Logout</span>
        </a>
    </div>
</nav>